# This file is used to configure the AppVeyor CI system, for testing on Windows machines.
#
# Code loosely based on https://github.com/ogrisel/python-appveyor-demo
#
# To test with AppVeyor:
#    Register on appveyor.com with your GitHub account.
#    Create a new appveyor project, using the GitHub details.
#    Ideally, configure notifications to post back to GitHub. (Untested)

branches:
  only:
    - master

environment:
    matrix:
        # Version Restrictions
        #    Enaml supports Python 2.7 and also 3.4 onwards.
        #    PyQt4 only available for Python <3.6, tested only on Python 2
        #    PyQt5 only available for Python >=3.5.
        #       PyQt5 version 5.11.2 doesn't run on Python 3.5.
        #    PySide1 only available for 2.6 <= Python <=3.4. Wheels only for 32-bit.

        # Strategy:
        #    Run all tests using only pip (Travis uses conda)
        #    Test each 64-bit Python version, but only the latest known patch.
        #    Test the oldest and the latest 32-bit Python versions release.
        #    Test with PyQt4 where available, otherwise PyQt5 in each version.
        #    Test QScintilla on latest Python version available.
        #    Test PySide1 in latest Python version it runs on.
        #        - Failure is allowed and won't block PRs.
        #    Test PySide2 in latest Python version available
        #        - Failure is allowed and won't block PRs.
        #    Only test single toolkit installs (e.g. not QT4 and QT5 on same install)

        # VARIABLES
        #    NAME: just a comment for distinguishing builds in Appveyor.
        #    PYQT_VERSION: Determines PyQt versions installation
        #    PY_QT: Determines Pyside version installation (if present), and is used by
        #           Enaml.
        #    PYTEST_QT_API: In Python 3.4, pytest-qt needs a hint about the right interface.
        #    QSCINTILLA: Set to "Yes" to install it.


        # 64-bit versions, PyQT, latest to oldest. Test QScintilla support on
        # latest.

        - NAME: "Py 3.8"
          PYTHON: "C:\\Python38-x64"
          PYTHON_VERSION: "3.8.0"
          PYTHON_ARCH: "64"
          PYQT_VERSION: "5"
          QSCINTILLA: "Yes"

        - NAME: "Py 3.7"
          PYTHON: "C:\\Python37-x64"
          PYTHON_VERSION: "3.7.3"
          PYTHON_ARCH: "64"
          PYQT_VERSION: "5"
          QSCINTILLA: "Yes"

        - NAME: "Py 3.6"
          PYTHON: "C:\\Python36-x64"
          PYTHON_VERSION: "3.6.7"
          PYTHON_ARCH: "64"
          PYQT_VERSION: "5"

        # 32-bit versions, PyQt, latest

        - NAME: "32-bit, Latest "
          PYTHON: "C:\\Python37"
          PYTHON_VERSION: "3.7.3"
          PYTHON_ARCH: "32"
          PYQT_VERSION: "5"

        # PySide versions
        # See "allow_failures" section below.

        - NAME: "PySide2"
          PYTHON: "C:\\Python37-x64"
          PYTHON_VERSION: "3.7.3"
          PYTHON_ARCH: "64"
          PYQT_VERSION: "None"
          QT_API: "pyside2"


matrix:
  allow_failures:
     # PySide is not fully supported.
     # Errors are monitored, but should not stop PRs being delivered.
     - QT_API: "pyside"
     - QT_API: "pyside2"


install:
  # If there is a newer build queued for the same PR, cancel this one.
  # The AppVeyor 'rollout builds' option is supposed to serve the same
  # purpose but it is problematic because it tends to cancel builds pushed
  # directly to master instead of just PR builds (or the converse).
  # credits: JuliaLang developers.
  - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
        https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
        Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
          throw "There are newer queued builds for this pull request, failing early." }

  # Dump some debugging information about the machine.
  - ECHO "Filesystem root:"
  - ps: "ls \"C:/\""

  - ECHO "Build Folder:"
  - ps: ls $env:APPVEYOR_BUILD_FOLDER

  - ECHO "Environment Variables"
  - set

  # Python 2
  # Prepare Miniconda
  # - Avoid warning from conda info.
  # - Dump the setup for debugging.
  # - Upgrade to the latest version of pip to avoid it displaying warnings
  #   about it being out of date.
  - "if %PYTHON_VERSION%==2.7.15 set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%"
  - if %PYTHON_VERSION%==2.7.15 conda config --set always_yes yes --set changeps1 no
  - if %PYTHON_VERSION%==2.7.15 conda update -q conda
  - if %PYTHON_VERSION%==2.7.15 conda install -q -n root _license
  - if %PYTHON_VERSION%==2.7.15 conda info -a
  - if %PYTHON_VERSION%==2.7.15 conda upgrade -q pip setuptools

  # Python 3
  # Prepend desired Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  # Upgrade to the latest version of pip to avoid it displaying warnings
  # about it being out of date.
  - "if not %PYTHON_VERSION%==2.7.15SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - if not %PYTHON_VERSION%==2.7.15 python -m pip install -U pip

  # Allow the building of wheels.
  - pip install wheel

  # Check that we have the expected set-up.
  - ECHO "We specified %PYTHON_VERSION% win%PYTHON_ARCH%"
  - "python --version"
  - "python -c \"import struct; print('Architecture is win'+str(struct.calcsize('P') * 8))\""
  - pip --version

  # Install bytecode
  - pip install bytecode

  # At the time of writing, the setup.py says Enaml depends on a dev version
  # of Atom which is not on PyPI. Install straight from GitHub.
  - pip install https://github.com/nucleic/cppy/tarball/master
  - pip install https://github.com/nucleic/atom/tarball/master
  - pip install https://github.com/nucleic/kiwi/tarball/master

  # We need a library for Qt.
  # PyQT4 won't pip install, so resort to conda.
  - if %PYQT_VERSION%==4 conda install -q pyqt=4
  # Pyqt5 5.11.2 doesn't work on Python 3.5 (although it does on other versions)
  # Avoid using it for now, but optimistically assume that they will fix in next release.
  - if %PYQT_VERSION%==5 pip install pyqt5!=5.11.2
  - ps: if ($env:QT_API -eq "pyside") {pip install PySide}
  - ps: if ($env:QT_API -eq "pyside2") {pip install pyside2}
  - if "%QSCINTILLA%"=="Yes" pip install QScintilla

  # We should be able to install the test dependencies via setup.py, but in the meantime, do it manually:
  - pip install pytest pytest-cov pytest-qt

build_script:

  - cd %APPVEYOR_BUILD_DIR%
  - pip install -e .

test_script:

  # Run the project tests
  - cd %APPVEYOR_BUILD_DIR%
  - pytest tests --cov enaml --cov-report xml

after_test:
  - ps: |
      $env:PATH = 'C:\msys64\usr\bin;' + $env:PATH
      Invoke-WebRequest -Uri 'https://codecov.io/bash' -OutFile codecov.sh
      bash codecov.sh
