include MANIFEST.in
include *.txt
include *.rst
include *.md
include Makefile
include LICENSE
recursive-include docs/source *.rst
recursive-include docs/source *.png
recursive-include docs/source *.py
recursive-include docs/source *.enaml
include docs/make.bat
include docs/Makefile
recursive-include examples *.*
recursive-include licenses *.txt
recursive-include tools *.*
recursive-include tests *.py
recursive-include enaml/src *.cpp
recursive-include enaml/src *.h
prune .git
prune docs/build
prune dist
prune build
