include *.txt
include *.rst
include Makefile
recursive-include docs *.rst
recursive-include docs *.png
recursive-include docs *.py
recursive-include examples *.py
recursive-include licenses *.txt
prune .git
prune docs/build
prune dist
prune build